
<div class="container">
  
      <router-outlet></router-outlet>
    
   

  <table class="table table-striped">
      <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Pesel</th>
          <th>Operations </th>
      </thead>
      <tbody>
          <tr *ngFor="let patient of patients">
              <td>{{patient.id}}</td>
              <td>{{patient.name}}</td>
              <td>{{patient.pesel}}</td>
              <td><button class="btn btn-danger" (click)="deleteP(patient)">Delete</button>
                <button class="btn btn-primary" (click)="updateP(patient)">Edit</button></td>
          </tr>
      </tbody>
  </table>
  <button class="btn btn-primary" (click)="createP()">New Patient</button>
</div>

